APP_ENV=development
OFFLINE_MODE=false
GEOCODER=geoplateforme
GEOPF_BASE_URL=https://data.geopf.fr/geocodage
NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
OVERPASS_BASE_URL=https://overpass-api.de/api/interpreter
NOMINATIM_USER_AGENT="GeoScopeAnalyst/0.4.0 votre-contact@exemple.fr"
DEFAULT_RADIUS_M=1500
REQUEST_TIMEOUT_SECONDS=30
RATE_LIMIT_PER_SECOND=40
CACHE_TTL_SECONDS=86400
MAP_TILE_URL=https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png
